{% extends "base.html" %}

{% block content %}

<div class="campaign-media">
	<iframe width="280" height="210" src="{{ campaign.video_url }}" frameborder="0" allowfullscreen></iframe>
</div>	

<div class="campaign-dashboard">
<h2 class="campaign-title">{{ campaign.title }}<span class="creator">&nbsp; by {{campaign.user.first_name}}&nbsp;{{campaign.user.last_name}}</span></h2> 
<p>{{ campaign.description }}</p>
<br></br>
<h2 class="campaign-title">Campaign rewards:</h2>
{% for prize in campaign.prize_set.all %}
<p><img src="{{ MEDIA_URL }}{{ prize.logo_image }}" width="80" />{{ prize.title }}</p>
{% endfor %}
</div>	

<div class="leaderboard">
	<div class="banner-header"><h1>Scoreboard</h1></div>
	<ul class="rankings">
		{% for user in users %}
		<li class="gamer"><span class="calloutpoint-score"><h2>{{ user.points }}</h2></span><span class="player">{{ user.first_name }}</span><img class="profile-pic-scoreboard" src="{{ STATIC_URL }}img/beiber.png"></img></li>
		{% endfor %}
	</ul>
</div>

<br></br>

<div class="sharing-center">
<form class="form-vertical" action="" method="post">
{% csrf_token %}
  <fieldset>
    <h2 class="campaign-title">Sharing dashboard</h2>
    {% if posted_to %}
	    <p>Thanks for posting to {{ posted_to }}!  You can post to more networks for more points.</p>
    {% endif %}
	<p>My networks:</p>
	    <ul class="networks">
	    {% for action in actions %}
	        <li>
                {% if action.get_social_network_display in profiles %}
                    <input type="checkbox" value="{{action.get_social_network_display}}" name="social-networks">
					<!-- <span class="check">&#10003; -->
					</span><a class="social-button" href="/authenticate/{{ action.get_social_network_display }}"><img src="{{ STATIC_URL }}img/{{action.get_social_network_display}}-on.png" title="{{ action.get_social_network_display }}" width="80"/><br />{{action.action.points}} points</a>
				{% else %}	
					<input type="checkbox" value="{{action.get_social_network_display}}" name="social-networks">
					<a class="social-button" href="/authenticate/{{ action.get_social_network_display }}"><img src="{{ STATIC_URL }}img/{{action.get_social_network_display}}-off.png" title="{{ action.get_social_network_display }}" width="80"/></a>
                {% endif %}
	        </li>
	    {% endfor %}
		<p class="helper-text">Click on the social icons to the left to connect your accounts.  The more accounts you connect, the more points you earn!</p>
	    </ul>
		
	<div class="clearfix"></div>
    <div class="control-group">
      <label class="control-label" for="textarea">My message:</label>
      <div class="controls">
        <textarea class="input-xlarge" name="body" id="body" rows="3">{{ sharing_campaign_user.sharing_campaign.post_text }}
        </textarea>
      </div>
    </div>

    <div class="control-group">
	    <label class="control-label" for="input01">This link will be included in your post:</label>
		<div class="controls">

	        <input type="hidden" name="url" class="input-xlarge disabled" id="url" value="{{ sharing_campaign_user.sharable_url }}">
	        <p>{{ sharing_campaign_user.sharable_url }}</p>
	        <p class="help-block">This link has been uniquely generated by Ourmy to track your sharing points.</p>
			<div class="form-actions">
	        {% if user.is_authenticated %}
			    <button type="submit" class="btn btn-primary post-button">SHARE</button>
			{% else %}
				<a href="#" class="btn btn-large btn-danger" rel="popover" data-placement="top" title="Please log in" data-content="Log in usign the facebook and twitter buttons to the left -- this will let us track your points so you can win rewards.">SHARE</a>
			{% endif %}
			</div>

	    </div>
	</div>

  </fieldset>
</form>
</div>

{% for action in campaign.actions %}
	<p>{{ action.social_network }}</p>
	<p>{{ action.text }}</p>
	<p>{{ action.points }}</p>
{% endfor %}

{% endblock content %}