{% extends "base.html" %}

{% block content %}

{% load ourmy_app_extras %}

<div class="campaign-media">
	<iframe width="280" height="210" src="http://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>	

<div class="sharing-center">
<form class="form-vertical" action="" method="post">
{% csrf_token %}
  <fieldset>
    <h2 class="campaign-title">Sharing tools</h2>
    {% if posted_to %}
	    <p>Thanks for posting to {{ posted_to }}!  Post again to collect even more points.</p>
    {% endif %}
	<p>Share this campaign to win unique rewards and support the creator:</p>
	    <ul class="networks">
	    {% for action in actions %}
	        <li>
                {% if action.get_social_network_display in profiles %}
                    <input type="checkbox" value="{{action.get_social_network_display}}" name="social-networks">
					<!-- <span class="check">&#10003; -->
					</span><a class="social-button" href="/authenticate/{{ action.get_social_network_display }}"><img src="{{ STATIC_URL }}img/{{action.get_social_network_display}}-on.png" title="{{ action.get_social_network_display }}" width="80"/><br />{{action.action.points}} points</a>
				{% else %}	
					<input type="checkbox" value="{{action.get_social_network_display}}" name="social-networks">
					<a class="social-button" href="/authenticate/{{ action.get_social_network_display }}"><img src="{{ STATIC_URL }}img/{{action.get_social_network_display}}-off.png" title="{{ action.get_social_network_display }}" width="80"/></a>
                {% endif %}
	        </li>
	    {% endfor %}

	    {% if profiles|length == 0 %}
			<div class="helper-text">Click on the social icons to the left to connect your accounts.  The more accounts you connect, the more points you can earn!</div>
		{% else %}
			<div class="helper-text">Check the box of each social network you want to post to. The same message goes to each network you select.  To use different messages, check only one and click SHARE, then check another, change the message, and click SHARE again.</div>
		{% endif %}

	    </ul>
    <div class="control-group">
      <label class="control-label" for="textarea">My message:</label>
      <div class="controls">
        <textarea class="input-xlarge" name="body" id="body" rows="3">{{ sharing_campaign_user.sharing_campaign.post_text }}
        </textarea>
      </div>
    </div>

    <div class="control-group">
	    <label class="control-label" for="input01">This link will be included in your post:</label>
		<div class="controls">

	        <input type="hidden" name="url" class="input-xlarge disabled" id="url" value="{{ sharing_campaign_user.sharable_url }}">
	        <p>{{ sharing_campaign_user.sharable_url }}</p>
	        <p class="help-block">This link has been uniquely generated for you by Ourmy to track your sharing points.</p>
			<div class="form-actions">
	        {% if user.is_authenticated %}
			    <button type="submit" class="btn post-button">SHARE</button>
			{% else %}
				<a href="#" class="btn post-button" rel="popover" data-placement="top" title="Oh no! You're not logged in!" data-content="Before you can share this great campaign log in by clicking either the facebook or twitter button to the left to connect.  Ourmy needs this in order to track your points so you can win rewards.">SHARE</a>
			{% endif %}
			</div>

	    </div>
	</div>

  </fieldset>
</form>
</div>

<div class="leaderboard">
	<div class="banner-header"><h1>Campaign Scoreboard</h1></div>
	<ul class="rankings">
		{% for campaign_user in campaign_users %}
			{% if campaign.is_past %}
				<li class="gamer"><span class="calloutpoint-score"><h2>{{ campaign_user.points_at_deadline }}</h2></span><span class="player">{{ campaign_user.user.first_name }}</span><img class="profile-pic-scoreboard" src="{{ user.get_profile.thumbnail_url }}"></img></li>
			{% else %}
				<li class="gamer"><span class="calloutpoint-score"><h2>{{ campaign_user.points }}</h2></span><span class="player">{{ campaign_user.user.first_name }}</span><img class="profile-pic-scoreboard" src="{{ user.get_profile.thumbnail_url }}"></img></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<div class="campaign-dashboard">
	<h2 class="campaign-title">Campaign rewards</h2>
	{% for prize in campaign.prize_set.all %}
		<div class="single-prize">
			<div>
				{% if this_users_points < prize.points_value %}
				<div class="prize-cta"><p>Collect {{ prize.points_value|subtract:this_users_points }} more points to win!</p></div>
				{% else %} <div class="prize-cta-else"><p>You're in the running for this prize!</p></div>
				{% endif %}
			</div>
			<div class="campaign-prize-title"><p>{{ prize.title }}</p></div>
			{% if prize.logo_image %}
			<img src="{{ MEDIA_URL }}{{ prize.logo_image }}" width="80" /> 
			{% else %}
			<img src="{{ STATIC_URL }}img/ourmy_default_prize_badge.png" width="80" />
			{% endif %}
			<div class="prize-description"><p>{{ prize.description }}</p></div>
		</div>
	{% endfor %}
	<div class="clearfix"></div>
	<div class="campaign-description">
	<h2 class="campaign-title">{{ campaign.title }}<span class="creator">&nbsp; by {{campaign.user.first_name}}&nbsp;{{campaign.user.last_name}}</span></h2> 
	<p>{{ campaign.description }}</p>
	</div>
</div>	

<br></br>



{% for action in campaign.actions %}
	<p>{{ action.social_network }}</p>
	<p>{{ action.text }}</p>
	<p>{{ action.points }}</p>
{% endfor %}

{% endblock content %}