{% extends "base.html" %}

{% block content %}

<h2 class="campaign-title">Create your campaign!<br />
or 
  <select ONCHANGE="location = this.options[this.selectedIndex].value;">
    <option>Edit a different campaign</option>
    {% for campaign in campaigns %}
      <option value="{% url edit_campaign campaign_id=campaign.id %}">{{ campaign.title }}</option>
    {% endfor %}
        <option value="{% url create_campaign %}">Add a new campaign</option>
  </select><h2>

<div class="padding">
<form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      <fieldset>
      {{ form }}
      <div class="actions">
        <input type="submit" class="btn primary" value="LAUNCH MY CAMPAIGN">
      </div>
      </fieldset>
    </form>
</div>

{% if is_saved %}
<div>
  Reward your friends!
  <a class="btn btn-large" href="{% url create_prize campaign_id=this_campaign.id %}">Create Prizes</a>

</div>
{% endif %}
{% endblock content %}