{% extends "base.html" %}

{% block content %}

<div class="span5">

<a class="btn btn-primary" href="{% url edit_campaign campaign_id=campaign.id %}">< Back to {{ campaign.title }}</a>
  <h2 class="campaign-title">Create your Prize!<br />
  or 
    <select ONCHANGE="location = this.options[this.selectedIndex].value;">
      <option>Edit a different prize</option>
      {% for prize in all_prizes %}
        <option value="{% url edit_prize prize_id=prize.id %}">{{ prize.title }}</option>
      {% endfor %}
          <option value="{% url create_prize campaign_id=campaign.id %}">Add a new prize</option>
    </select><h2>

  <div class="padding">
  <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
        {{ form }}
        <div class="actions">
          <input type="submit" class="btn primary" value="Save">
        </div>
        </fieldset>
      </form>
  </div>
</div>

<div class="span5">
  <h2 class="campaign-title">Prizes so far:</h2>
  {% for prize in all_prizes %}
    <h4>{{ prize.title }}</h4>
    <p>{{ prize.description }}</p>
  {% endfor %}
</div>

{% endblock content %}