Django==1.4.2
psycopg2==2.4.5
django-admin-bootstrapped
django-bitly
-e git+git://github.com/dyve/django-bootstrap-toolkit.git#egg=django-bootstrap-toolkit
django-debug-toolbar==0.9.4
South==0.7.5
requests
simplejson
https://github.com/bitly/bitly-api-python/archive/master.zip

# unused
#-e git+git://github.com/Singly/django-singly.git#egg=django-singly
