Django==1.4.2
psycopg2==2.4.5
django-admin-bootstrapped
django-bitly
-e git+git://github.com/dyve/django-bootstrap-toolkit.git#egg=django-bootstrap-toolkit
django-debug-toolbar==0.9.4
South==0.7.5
requests
simplejson
https://github.com/bitly/bitly-api-python/archive/master.zip
django-annoying==0.7.6
pytz==2012c
dj-database-url==0.2.0
gunicorn==0.14.6
django-storages==1.1.4
boto==2.5.2

# unused
#-e git+git://github.com/Singly/django-singly.git#egg=django-singly
