@import url(http://fonts.googleapis.com/css?family=Orienta);

<pre>html, body {height: 100%;}

#wrapper {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

.sticky-bottom {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;}

body:before {
content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

a:hover, a:active
{
text-decoration: none;
}

iframe
{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

h1{
font: 18px Arial, Helvetica, Sans-serif; 
	padding: 0 20px 0 40px; 
	margin: 0 auto;
	color: #FFF; 
	text-shadow: 0 1px 0 #999;
	position: relative;
	overflow: hidden;
}

h1.logline{
    padding: 0 0 0 50px;
    font-size: 48px !important;
    font-weight: 700;
    text-shadow: 0 1px 1px #222;
    line-height: 60px;
}

h2
{
font-size: 14px;
margin-top: -4px;
}

h3
{

}

.banner-header
{
padding: 6px 20px 6px 20px;
text-align: center;
-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; 
-webkit-box-shadow: 0 1px 0 #FFF inset; -moz-box-shadow: 0 1px 0 #FFF inset; 
box-shadow: 0 1px 0 #FFF inset;
background:#FF6103 !important;
}

ul{
list-style: none;
}

.navbar-inner
{
position: relative;
background:#FF7722 !important;
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF7722), color-stop(100%, #FF6103)) !important;
background:-webkit-linear-gradient(#FF7722,#FF6103) !important;
background:-moz-linear-gradient(#FF7722,#FF6103) !important;
background:-o-linear-gradient(#FF7722,#FF6103)!important;
background:-ms-linear-gradient(#FF7722,#FF6103) !important;
background:linear-gradient(#FF7722,#FF6103) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7722', endColorstr='#FF6103', GradientType=0) !important;	
}

.inner-nav{
padding-left: 50px !important;
margin-left: 40px !important;
width: 92% !important;
}

.navbar-container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.brand{
margin-left: 10px;
}

.brand img
{
width: 150px;
height: 55px;
}

.clearfix{
clear: both;
width: 100%;
height: 4px;
padding: 30px 0 0 0;
}

.content-container{
height: auto;
padding: 40px 0 0 0;
}

/**** BUTTONS ****/

.btn
{
display: inline-block;
*display: inline;
/* IE7 inline-block hack */
*zoom: 1;
  font-family: Arial, Times; 
  padding: 10px 14px 10px;
  margin-bottom: 0;
  top: 10px;
  font-size: 16px;
  font-weight: 700;	
  line-height: 18px;
  *line-height: 20px;
  color: #fff;
  text-shadow: 0 1px 0 #222;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #FF6103;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7722), to(#FF6103));
  background: -webkit-linear-gradient(top, #FF7722, #FF6103);
  background: -moz-linear-gradient(top, #FF7722, #FF6103);
  background: -ms-linear-gradient(top, #FF7722, #FF6103);
  background: -o-linear-gradient(top, #FF7722, #FF6103);
  background-image: -ms-linear-gradient(top, #FF7722 0%, #FF6103 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7722', endColorstr='#FF6103', GradientType=0);
  border: solid 1px rgba(79, 79, 79, 0.75);

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: 0 4px 4px -2px #404040;
-moz-box-shadow: 0 4px 4px -2px #404040;
box-shadow: 0 4px 4px -2px #404040;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  	  background: #7f8383;
	  background: -webkit-gradient(linear, left top, left bottom, from(#7f8383), to(#c0c2c2));
	  background: -webkit-linear-gradient(top, #7f8383, #c0c2c2);
	  background: -moz-linear-gradient(top, #7f8383, #c0c2c2);
	  background: -ms-linear-gradient(top, #7f8383, #c0c2c2);
	  background: -o-linear-gradient(top, #7f8383, #c0c2c2);
	  background-image: -ms-linear-gradient(top, #7f8383 0%, #c0c2c2 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f8383', endColorstr='#c0c2c2', GradientType=0);
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover, .btn.active, .btn:active {
      text-decoration: none;
      color: #fff;
  	  background: #7f8383;
	  background: -webkit-gradient(linear, left top, left bottom, from(#FF6103), to(#EE4000));
	  background: -webkit-linear-gradient(top, #FF6103, #EE4000);
	  background: -moz-linear-gradient(top, #FF6103, #EE4000);
	  background: -ms-linear-gradient(top, #FF6103, #EE4000);
	  background: -o-linear-gradient(top, #FF6103, #EE4000);
	  background-image: -ms-linear-gradient(top, #FF6103 0%, #EE4000 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6103', endColorstr='#EE4000', GradientType=0);
  /*Buttons in IE7 don't get borders, so darken on hover */
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.post-button
{
margin-right: 22px;
padding: 8px 32px 8px 32px;
font-size: 18px;
border-top: 1px solid #0a6beb;
text-shadow: 0 1px 0 #999;
  background:#0a6beb;
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34bff3), color-stop(100%, #0a6beb));
	background:-webkit-linear-gradient(#34bff3,#0a6beb);
	background:-moz-linear-gradient(#34bff3,#0a6beb);
	background:-o-linear-gradient(#34bff3,#0a6beb);
	background:-ms-linear-gradient(#34bff3,#0a6beb);
	background:linear-gradient(#34bff3,#0a6beb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34bff3', endColorstr='#0a6beb', GradientType=0);
}

.post-button:hover, .post-button:active, .friends-button:hover, .friends-button:active
{
background: #074aa2;
text-shadow: 0 1px 0 #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#34bff3), to(#074aa2));
  background: -webkit-linear-gradient(top, #34bff3, #074aa2);
  background: -moz-linear-gradient(top, #34bff3, #074aa2);
  background: -ms-linear-gradient(top, #34bff3, #074aa2);
  background: -o-linear-gradient(top, #34bff3, #074aa2);
  background-image: -ms-linear-gradient(top, #34bff3 0%, #074aa2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34bff3', endColorstr='#074aa2', GradientType=0);
}

.btn-invite
{
z-index: 100;
float: right;
margin-top: 0px;
padding: 0 26px 4px 10px;
}


.friends-button
{
padding: 8px 32px 8px 32px;
font-size: 18px;
text-shadow: 0 1px 0 #999;
background:#0a6beb;
border-top: 1px solid #0a6beb;
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34bff3), color-stop(100%, #0a6beb));
	background:-webkit-linear-gradient(#34bff3,#0a6beb);
	background:-moz-linear-gradient(#34bff3,#0a6beb);
	background:-o-linear-gradient(#34bff3,#0a6beb);
	background:-ms-linear-gradient(#34bff3,#0a6beb);
	background:linear-gradient(#34bff3,#0a6beb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34bff3', endColorstr='#0a6beb', GradientType=0);
}

.promote-button{
    float: right;
    width: 240px;
    height: 70px;
}

.promo-button-layout{
    margin-right: 30px;
    margin-top: -40px;
}

/***  ***/

.cover{
    background: url('../img/bg.png') bottom;
	background-color: #222;
	background-size: 100% auto;
	height: 340px;
	-webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      *margin-left: .3em;
      -webkit-box-shadow: 0 4px 4px -2px #404040;
    -moz-box-shadow: 0 4px 4px -2px #404040;
    box-shadow: 0 4px 4px -2px #404040;
}

.tag-holder{
    background-color: #FF6103;
    opacity: 0.95;
      filter: alpha(opacity=95);
      margin-left: 20px;
      padding-right: 0;
    -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      *margin-left: .3em;
}

.campaign{
    padding: 14px;
}

.profile-pic
{
}

.campaign-title{
    padding-top: 20px;
}

/***  CAMPAIGN DASHBOARD ***/

.leaderboard
{
position: relative;
display: block;
float: left;
clear: both;
height: 650px;
margin-top: 58px;
margin-left: 20px;
width: 250px;
border: solid 1px #DEDEDE;
background: #e1e1e1; 
background: -moz-linear-gradient(center top , #f2f2f2, #e1e1e1); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1)); 
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: 0 4px 4px -2px #bbb;
  -moz-box-shadow: 0 4px 4px -2px #bbb;
   box-shadow: 0 4px 4px -2px #bbb;
}

li.gamer
{
padding: 16px 0px 20px 0px;
margin-left: -18px;
text-align: left;
border-bottom: solid 1px rgba(0,0,0,0.05);
border-top: solid 1px rgba(255,255,255,0.7);
}

li.gamer img
{
width: 36px;
height: 36px;
padding: 0px !important;
margin-right: 6px;
margin-top: -8px;
border: solid 2px #FFF;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: 0 4px 4px -2px #bbb;
  -moz-box-shadow: 0 4px 4px -2px #bbb;
   box-shadow: 0 4px 4px -2px #bbb;
}

.calloutpoint-score {
    color: #FFF;
    text-shadow: 0 1px 0 #999;
    text-align: center;
    background:#FF6600;
    border: 2px solid #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF7722), to(#FF6600));
  background: -webkit-linear-gradient(top, #FF7722, #FF6600);
  background: -moz-linear-gradient(top, #FF7722, #FF6600);
  background: -ms-linear-gradient(top, #FF7722, #FF6600);
  background: -o-linear-gradient(top, #FF7722, #FF6600);
  background-image: -ms-linear-gradient(top, #FF7722 0%, #FF6600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7722', endColorstr='#FF6600', GradientType=0);
    padding:2px 4px 4px 4px;
    width: 24px;
    height: 24px;
    margin-top: -4px;
    border-radius:3px;
    position:relative;
    float: left;
    -webkit-box-shadow: 0 4px 4px -2px #bbb;
  -moz-box-shadow: 0 4px 4px -2px #bbb;
   box-shadow: 0 4px 4px -2px #bbb;
}

.player
{
font-size: 14px;
margin-left: 10px;
font-weight: 700;
color: #999;
text-shadow: 0 1px 1px #FFF;
}

.profile-pic
{
position: relative;
float: right;
margin-top: -2px;
padding: 0 10px 2px 10px;
}


.badge-board
{
position: relative;
display: block;
float: right;
height: 650px;
margin-right: 20px;
margin-top:-654px;
width: 250px;
border: solid 1px #DEDEDE;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: 0 4px 4px -2px #bbb;
  -moz-box-shadow: 0 4px 4px -2px #bbb;
   box-shadow: 0 4px 4px -2px #bbb;
}

li.badges
{
color: #999;
list-style: none;
padding: 16px 4px 10px 4px;
text-align: center;
border-bottom: solid 1px rgba(0,0,0,0.2);
border-top: solid 1px rgba(255,255,255,0.7);
}

.badge-name
{
padding: 10px 10px 0 10px;
}

.badge-pic
{
padding-top: 10px;
margin-left: auto;
margin-right: auto;
clear: both;
width: 128px;
height: 128px;
}

#promo-box {
    border-top: 1px solid #DEDEDE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 300px;
    position: relative;
	margin-top: -60px;
	padding: 16px;
	display: block;
}

.call-to-action-container
{
float: right;
width: 210px;
margin-top: -315px;
padding: 20px;
border: 1px solid #DEDEDE;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 4px 4px -2px #bbb;
-moz-box-shadow: 0 4px 4px -2px #bbb;
box-shadow: 0 4px 4px -2px #bbb;
background: #e1e1e1; 
background: -moz-linear-gradient(center top , #f2f2f2, #e1e1e1); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1)); 
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.timer
{
padding: 16px;
}

.rank
{
padding: 16px;
}

.campaign-primary
{
position: relative;
display: block;
margin-top: 60px;
margin-left: auto;
margin-right: auto;
padding: 60px 0 20px 0;
height: 270px;
}

.dashboard
{
width: 720px;
background: transparent;
border-right: solid 1px #DEDEDE;
border-left: solid 1px #DEDEDE;
border-bottom: solid 1px #DEDEDE;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: 0 4px 4px -2px #bbb;
  -moz-box-shadow: 0 4px 4px -2px #bbb;
   box-shadow: 0 4px 4px -2px #bbb;
}

.prizes
{
width: 170px;
clear: left;
}

.prize-label
{
display: block;
clear: both;
}

.timer
{
margin-top: -20px;
}

.place-label
{
color: #CC7F32;
font-weight: 800;
font-size: 20px;
line-height: 22px;
text-decoration: none;
text-shadow: 0 1px 1px #bbb;
}

.social-tools
{
border-top: solid 1px #DEDEDE;
position: relative;
margin-left: auto;
margin-right: auto;
z-index: 101;
margin-top: 10px;
height: 290px;
}

.promotional-text
{
float: left;
margin-left: 20px;
margin-top: 20px;
padding: 20px;
width: 280px;
font-size: 18px;
line-height: 22px;
background: #e1e1e1; 
background: -moz-linear-gradient(center top , #f2f2f2, #e1e1e1); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1)); 
-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; 
border: solid 1px #DEDEDE;
-webkit-box-shadow: 0 4px 4px -2px #bbb;
-moz-box-shadow: 0 4px 4px -2px #bbb;
box-shadow: 0 4px 4px -2px #bbb;
}

.social-buttons
{
float: right;
padding: 20px;
margin: 0px auto;
}

.social-row-top
{
position: relative;
}

.social-row-bottom
{
position: relative;
margin-top: 48px;
}

.social-buttons a
{
padding: 20px 0 20px 0;
}

.social-buttons img
{
width: 64px;
height: 64px;
}

.point-value
{
color: #CC7F32;
border: solid 1px #CC7F32;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  *margin-left: .3em;
  -webkit-box-shadow: 0 1px 1px -1px #bbb;
  -moz-box-shadow: 0 1px 1px -1px #bbb;
   box-shadow: 0 1px 1px -1px #bbb;
font-weight: 800;
padding: 6px;
clear: left;
position: absolute;
margin-left: -80px;
margin-top: 60px;
text-decoration: none;
text-shadow: 0 1px 1px #bbb;
}

.point-value:hover, .point-value:active
{
color: #00CD00;
border: solid 1px #00CD00;
text-decoration: none;
}

.activated, .activated:hover, .activated:active
{
color: #00CD00;
text-decoration: none !important;
}

.inactive, .inactive:hover, .inactive:active
{
color: #FF0000;
text-decoration: none !important;
}

.post-composer
{
border-top: 2px dashed #bbb;
clear: left;
float: left;
margin-top: -100px;
width: 100%;
height: 60px
}

.sample-post-text
{
font-size: 16px;
margin-left: 20px;
padding: 16px 20px 0 0;
color: #bbb;
font-style: italic;
}

.character-counter
{
float: right;
margin-top: 0px;
padding: 20px;
font-size: 12px;
color: #404040;
}


footer
{

}


@media (max-width: 1280px) {

.badge-board{
position: absolute;
margin-top: 30px;
height: 300px;
width: 1020px;
margin-left: 20px;
border: solid 1px #DEDEDE;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: 0 4px 4px -2px #bbb;
  -moz-box-shadow: 0 4px 4px -2px #bbb;
   box-shadow: 0 4px 4px -2px #bbb;
}

.campaign-primary
{
margin-left: 320px;
}

.social-tools
{
margin-left: 320px;
}

li.badges
{
float: left;
width: 300px;
color: #999;
list-style: none;
padding-top: 10px;
text-align: center;
border-bottom: none;
}

h4{

}

.calloutpoint-message{
clear: both;
width: 200px;
}

.badge-name
{
padding: 10px 10px 0 10px;
}

.badge-pic
{
padding-top: 10px;
margin-left: auto;
margin-right: auto;
clear: both;
width: 128px;
height: 128px;
}

}